# mailbosa main configuration file
---
# credentials
:smtp:
    :url: smtp.gmail.com
    :domain: gmail.com
    :username: me@gmail.com
    :password: S0me.R3all7.6o0d.P4svv0rd
    :port: 587
    :ssl: 1

# settings
:email:
    :list: ~/.mailbosa/emails.json
    :list_sent: ~/.mailbosa/sent.json
    :message: ~/.mailbosa/message.txt
    :amount: 2
    :timeframe: 10

# general
:general:
    :testing: 1
    :log: 
        :file: ~/.mailbosa/main.log
        :progname: mailbosa
        :level: 1 # debug = 0, info = 1, warn = 2, error = 3, fatal = 4, unknown = 5
